<!--
<br>
<br>
<table border="False">
  <tbody>
  <tr>
    <td>Name</td>
    <td>Latitude</td>
    <td>Longitude</td>
  </tr>
  <tr *ngFor="let t of table">
    <td><input type="text" name="name" [value]="t.name" (input)="onTableChange($event)"  /></td>
    <td><input type="number" name="latitude" [value]="t.latitude" (input)="onTableChange($event)" /></td>
    <td><input type="number" name="longitude" [value]="t.longitude" (input)="onTableChange($event)" /></td>
  </tr>
  <tr>
    <td><input type="text" name="name" [value]="point.name" (input)="point.name = $event.target.value"/></td>
    <td><input type="number" name="latitude" [value]="point.latitude" (input)="point.latitude = $event.target.value"/></td>
    <td><input type="number" name="longitude" [value]="point.longitude" (input)="point.longitude = $event.target.value"/></td>
    <td><button (click)="onAddPoint()">add</button></td>
  </tr>

  <tbody>
</table>
<br>
<br>


-->
<div>
  <app-geo-map [TabPoints]="getTable()"></app-geo-map>
</div>
<button (click)="onSelectAction('all')">Select all </button>
<button (click)="onSelectAction('reset')">Reset selection </button>
<button (click)="onSelectAction('invert')">Invert selection</button>
<table border="False" cdkDropList (cdkDropListDropped)="drop($event)" >
  <tbody>
  <tr>
    <td>Name</td>
    <td>Latitude</td>
    <td>Longitude</td>
  </tr>

  <tr  *ngFor="let t of table" [point]="t" [position]="table.indexOf(t)" [size]="table.length" (pointMigration)=" update($event,t)" cdkDrag>
  </tr>
  <tr>
    <td><input type="text" name="name" [value]="point.name" (input)="point.name = $event.target.value"/></td>
    <td><input type="number" name="latitude" [value]="point.latitude" (input)="point.latitude = $event.target.value"/></td>
    <td><input type="number" name="longitude" [value]="point.longitude" (input)="point.longitude = $event.target.value"/></td>
    <td><button (click)="onAddPoint()">add</button></td>
  </tr>
  </tbody>
</table>

